# http://editorconfig.org

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.go]
indent_style = tab
indet_size = 1

[*.py]
indent_style = space
indent_size = 4

[*.sh]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indet_size = 1
